body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, sans-serif;
  background: #222;
  color: #fff;
}

.tweet {
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  0% { opacity: 0; transform: translateY(-100%); }
  100% { opacity: 1; transform: translateY(0%); }
}
@keyframes dissolve {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
